body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabezera de los botones ---------------------------------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #900000;
    text-align: center;
    z-index: 1000;
}

/* Botones superiores ----------------------------------------------------------------------------------------------------*/
nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 40px;
}

nav ul li a {
    color: rgb(242, 255, 0);
    text-decoration: none;
}

/* Pagina portada ------------------------------------------------------------------------------------------------------*/

#streetfigther {
    height: 100vh;
    background: url('Fondo.jpg')no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.streetfigther-content {
    text-align: center;
}

.Logo{
    width: 80%; 
    height: auto; 
    animation: movimientoLogo 2s infinite;
}

/* Pagina descripcion -----------------------------------------------------------------------------------------------*/

.Descrpcion-seccion {
    background: url('Fondo2.jpg')no-repeat center center/cover;
    color: white;
    padding: 50px 20px;
    align-items: center;
}

.video-descripcion {
    width: 60%; 
    height: auto; 
    display: block;
    margin: 0 auto;
    border: 8px solid #393939 ; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 40%;
    height: auto;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-item p {
    margin-top: 10px;
    color: #fff; 
}


/* Keyframes ----------------------------------------------------------------------------------------------------------*/

@keyframes movimientoLogo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}