





























































































/* body{
    background-color: blue;
} */

*{
    background-color: rgb(211, 212, 241);
    }
    
    h1{
        font-weight: 100;
            font-family:fantasy;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    
    .caja-mapa {
        height: 80vh;
     }
    
    
    .big-map {
        background-color: aqua;
        height: 80vh;
        display:flex ;
        justify-content: center;
        align-items: center;
    }
    
    .big-map img {
        height: 100%;
        width: 100%;
        opacity: 80%;
    }
    
    /* .big-map fa-solid.fa-location-pin.fa-beat-fade{
        background-color: rgb(211, 212, 241);
    } */
    
    i.fa-solid.fa-location-pin.fa-beat-fade{
        background-color: transparent;
        animation-iteration-count:0;
        font-size: 2em;
        position: absolute;
        left: 20vw;
        top: 35vh;     
    }

    .FotoCanada img {

        opacity: 0;
        background-color: transparent;
        width: 20%;
        height: auto;
        position: absolute;
        left: 25vw;
        top: 30vh;   
        border: 15px solid;
        border-color: rgb(69, 191, 248); 
        border-bottom: 100px solid;
        border-bottom-color:  rgb(69, 191, 248);
        border-radius: 15px;
    }

    .TextoCanada{
        opacity: 0;
        position:absolute;
        left: 26.25vw;
        bottom:25vh ;
        width: 20%;
        background-color: transparent;

    }