/* Estilo para la web */


/*pagina selector personajes*/
#container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 20px auto;
    text-align: center;
  }
  #player1, #player2 {
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
  }
  #player1-img-container, #player2-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  #player1-img, #player2-img {
    max-width: 100%;
    max-height: 100%;
  }
  #player1-info, #player2-info {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 10px;
    text-align: center;
  }
  #character-selection {
    width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  #character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px; /* Separar los botones del título */
  }
  .character-option {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000;
  }
  .character-option:hover {
    background-color: #ccc;
  }
  #james { background-color: #ff9999; }
  #emily { background-color: #99ccff; }
  #william { background-color: #ffcc99; }
  #olivia { background-color: #ffccff; }
  #michael { background-color: #ccffcc; }
  #charlotte { background-color: #ffff99; }
  #benjamin { background-color: #ff9966; }
  #sophia { background-color: #99ffcc; }
  #henry { background-color: #cc99ff; }
  #isabella { background-color: #ff99ff; }
  #alexander { background-color: #99ff99; }
  #grace { background-color: #ffcc66; }
  #info {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
  }
  #ready-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #ready-button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  .stat-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
}

.stat-fill {
    height: 20px;
}

.stat-fill.fuerza {
    background-color: blue;
}

.stat-fill.velocidad {
    background-color: green;
}

.stat-fill.vida {
    background-color: red;
}