/* body{
    background-color: blue;
} */

*{
background-color: rgb(211, 212, 241);
}

h1{
    font-weight: 100;
        font-family:fantasy;
        display: flex;
        justify-content: center;
        align-items: center;
    }


.caja-mapa {
    height: 80vh;
 }


.big-map {
    background-color: aqua;
    height: 80vh;
    display:flex ;
    justify-content: center;
    align-items: center;

}

.big-map img {
    height: 100%;
    width: 100%;
    opacity: 80%;
}

i.fa-solid.fa-location-pin.fa-beat-fade{
    animation-iteration-count: 0;
    /* width: 500px;
    height:500px; */
}


